body {
    background-color: lightblue;
    font-family: Arial;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

a {
    display: block;
    background-color: white;
    color: darkblue;
    width: 300px;
    padding: 15px;
    margin: 10px auto;
    text-decoration: none;
    border: 2px solid darkblue;
}

a:hover {
    background-color: darkblue;
    color: white;
}
