*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;

}